@page "/"

<div class="container-fluid">

    <div class="row g-2 row-deck">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <span>Orders Received</span>
                    <h4 class="mb-0">47,012</h4>
                    <small>23% Average <i class="fa fa-level-up"></i></small>
                </div>
                <div id="apexspark1"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <span>Total Sales</span>
                    <h4 class="mb-0">512</h4>
                    <small>18% Average <i class="fa fa-level-down"></i></small>
                </div>
                <div id="apexspark2"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <span>Total Unit Sold</span>
                    <h4 class="mb-0">1,675</h4>
                    <small>57% Average <i class="fa fa-level-up"></i></small>
                </div>
                <div id="apexspark3"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <span>Revenue</span>
                    <h4 class="mb-0">1,612</h4>
                    <small>13% Average <i class="fa fa-level-up"></i></small>
                </div>
                <div id="apexspark4"></div>
            </div>
        </div>
        
    </div> <!-- .row end -->

</div>


